<html>
<a href ="{% url 'poll:create_type' %}">Create A New Category</a>

<center><strong>POLL APP</strong><br>


<table  border="5">
<th><center>QUESTION TOPICS : {{object_list|length}}</center></th>
{% for type in object_list %}
	<tr>

	<td><a href = "{% url 'poll:question_list' type.id  %}">{{type.topic}}</a></td>

	</tr>
{%  endfor %}


</table>
</center>
<html>


<br>

<table border ='4'>


<th>Most Popular QUESTION</th>

<tr>
<td>

<a href = "{% url 'poll:question_detail' popular.id  %}">{{popular}}</a>

</td>
</tr>
</table>
