<center>
<center><a href ="{% url  'poll:main_page' %}">Home</a></center>


<table  border="5">

<th>{{object}}Questions</th> 
{% for query in queryset %}
	
  	<tr>

 	{% if query.question_type == object %}
		<td><a href = "{% url 'poll:question_detail' query.id  %}">{{query.question_text}}</a><a href = "{% url 'poll:update_question' query.id %}">
<button type="button">Update </button></a>
<a href = "{% url 'poll:delete_question' query.id %}">
<button type="button">Delete </button></a>

</td>
   
 	</tr>
	{% endif %}


{% endfor %}
</table>

<center><li><a href = "{% url 'poll:create_question' object.id %}">CREATE A NEW Question In this Category</a></center>


</center>