<center>
<center><a href ="{% url 'poll:main_page' %}">Home</a></center>

<table  border="5">
<th><center>QUESTION </center></th>
<th><center>OPTIONS : {{object.choice_set.all|length}} </center></th>
<form action="{% url 'poll:display_result'  object.id%}" method="GET">
{% csrf_token %}

	<tr>

	<td>{{object}}</td>
	<td>{% for choice in object.choice_set.all %}
    	

	<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} <a href = "{% url 'poll:update_option' choice.id %}">
	<button type="button">Update </button></a>

	<a href = "{% url 'poll:delete_option' choice.id %}">
	<button type="button">Delete </button></a>

	  </label><br>
    

		{% endfor %}</td>


	</tr>

<input type="submit" value="Vote" />
</form>

</table>
<br>
Total votes for this question till now : {{total}}
<br>
<center><a href = "{% url 'poll:create_option' object.id %}">Add new option for this question</a></center>



</center>
number of times this question viewed : {{view}}
<br>


